$background-color: #efd8a4;
$font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$button-border: #d87070;
$button-active: #d89494;
$color-secundario: hsl(31, 76%, 75%);
$color-footer: linear-gradient(315deg, rgba(239,216,164,1) 0%, rgba(218,112,112,1) 100%);

