@import "./variables";
@import "./reset";
@import "./bucle";
@import "./pagina_principal";
@import "./menu_producto";
@import "./sesion_contacto";




@media screen and (max-width: 560px) {
 
  .productosTemp {
  margin-top: 0;
 }
  .huevoPascua {
  display:none;
  }
  main .productosTemp div .text-center{
    margin-top: 20px;
  }
  }

  
@media screen and (max-width: 320px) {
  .fotoUno {
    height: 150px;
    width: 130px;
  }

  iframe {
    width: 200px;
  }
  .botonWsp {
    display: none;
  }
}
