main {
  div {
    h1 {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      font-family: 'Dancing Script', cursive;
      font-weight: 700;
      font-size: 80px;
    }
   
  }

  .sectionFoto {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    .aumento_escala {
      &:hover {
        transform: scale(1.2);
      }

      div {
        .fotoUno {
          width: 220px;
          height: 200px;

          &:hover {
            transform: scale(1.2);
          }
        }
        .card-img-overlay {
          color: rgba(255, 255, 255, 0);
          font-weight: 600;

          &:hover {
            animation-name: efecto_letras;
            animation-iteration-count: infinite;
            animation-duration: 10s;
          }
        }
      }
    }
  }

  div {
    a {
      display: flex;
      justify-content: center;
      align-items: center;

      .volverAtras {
        font-weight: 700;
        background-color: $color-secundario;
        border-color: $button-border;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 15px;
      }
    }
  }
}

@keyframes efecto_letras {
  0% {
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    font-weight: 700; }
  100% {
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    font-weight: 700; } }